@mixin hover {
	cursor: pointer;
	@media (hover:hover) {
		&:hover {
			@content;
		}
	}
}

@mixin mhover {
	@media (hover:none) {
		@content;
	}
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}